PORT=app_port
APP_URL=appurl
SECRET_KEY=thisisthesecret
JWT_EXPIRES=4h
DATABASE_URL=dburl
EMAIL_HOST=host
EMAIL_PORT=emailport
EMAIL_USER=username
EMAIL_PASSWORD=password
EMAIL_FROM=fromemail
APP_NAME=appname